
h1{
  margin: 15px;
  text-align: center;
}

a{
  color: white}

.homeContent{
  width: 80%;
  margin: 0 auto;
}

.container{
  width: 100%;
}
form{
  width: 50%;
  margin: 0 auto;
}

form label{
  display: block;
}

form input{
  width: 100%;
}

form button{
  display: block;
}